


@import url(./_reset.css);

*, *::before, *::after{
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.fa-bars{
    display: none;
    cursor: pointer;
    font-size: 22px;
}

header{
    padding: 44.98px 112.5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav > a{
     color: #222;
     padding: 8px;
}

.nav-links{
    display: flex;
}

nav > a:hover{
    transform: translateY(15px);
    transition: transform 1.4s ease;
}





/*Introduction HISSESI*/

.introduction{
    display: flex;
    align-items: center;
    padding: 20px 112.5px;
    flex-wrap: wrap;
}


.intro-left-side{

    flex-basis: 50%;
    padding-top: 113px;
    min-width: 600px;
}


.intro-left-side h1{
    font-size: 60px;
    font-weight: 700;

}

.intro-left-side h1 span{
    color: #FF8A56;
}

.intro-left-side p{
    padding: 40px 0;
    color: #666666;
    font-weight: 400;
}

.intro-left-side button{
    padding: 15px 25px;
    background-color: #222;
    color: white;
    margin: 0 30px 0 0;
}

.intro-left-side a{
    margin: 0 30px 0 0;
    color: #222;
}

.intro-right-side{
    min-width: 500px;
    height: 595px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-top: 140px;
}

.intro-right-side img{

    height: 100%;
}


@media (max-width: 840px) {

    .nav-links {
        display: none;
    }

    .fa-bars{
        display: block ;
        cursor: pointer;
        font-size: 24px;
    }

    header {
        padding: 20px;
    }


}

@media(max-width: 1312px) {
    .intro-left-side{

        flex-basis: 100%;
        text-align: center;
    }

    .intro-right-side{
        justify-content: center;

    }

}

@media(max-width:865px){
    .introduction{
        padding: 20px;
    }

    .intro-left-side{
        min-width: 570px;

    }

    .intro-left-side h1{
        font-size: 58px;
    }

}





/*Trusted By HISSESI*/

.trusted-by{
    background-color: ed;
    display: flex;
    flex-direction: column;
}

.trusted-by h6{
    font-weight: 400;
    color: #000000;
    text-align: center;
}

.companies{
    background-color: t;
    display: flex;
    justify-content: space-around;
    padding: 77px;
}

@media (max-width:768px){
    .class:nth-child(even) {
        display: none;
    }
}

@media (max-width:576px){
    .company.not :first-child {
        display: none;
    }
}




/*Services HISSESI*/


.services {
    padding: 0px 171px;
    display: flex;
    flex-direction: column;
}

.services-cards {
    display: flex;
    justify-content: space-around;
}

.service-card h3{
    font-size: 24px;
}

.service-card p {
    padding: 25px;
}

.service-card img{
    padding-bottom: 35px;
}

.services h6 {
    text-align: center;
    color: red;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 30px;
}

.services h1 {
    text-align: center;
    font-weight: 700;
    font-size: 54px;
    padding-bottom: 115px;
}

.services p {
    color: #666666;
}

.services ul {
    list-style-type: square;
    list-style-position: inside;
}

.services li{
    padding: 10px;
}